
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span id="MenuBtn">
					<!-- Menu -->
					<i class="fa fa-bars" style="font-size:3vh;"></i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto"  style="font-size:3vh;">
						<li class="nav-item">
							<a class="nav-link" href="./"><a1><B>Home</B></a1></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="Bus"><a1><B>高雄市公車</B></a1></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="Mrt"><a1><B>高雄捷運</B></a1></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="Bike"><a1><B>高雄YouBike</B></a1></a>
						</li>
					</ul>
				</div>